
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-color: black;
}

main{
  display:flex;
}

#robot  {
  min-height: 100vh;
  width: 40vw;
  background-color: rgba(187, 187, 187, 0.363);
  display:flex;
  justify-content: center;
  align-items: center;
  min-width:400px;
}

.chest{
  width:150px;
  height:150px;
  background-color: lightblue;
  border: 3px solid black;
  position: relative;
}
#head{
  position: absolute;
  width:150px;
  height:110px;
  background-color: rgb(1, 66, 88);
  border: 3px solid black;
  bottom: 144px;
  left: -3px;
  border-radius: 1.5rem 1.5rem 0 0;

}
.hips{
  position: absolute;
  width:150px;
  height:25px;
  background-color: rgb(1, 88, 27);
  border: 3px solid black;
  bottom: -25px;
  left: -3px;
  border-radius: 0 0 1.5rem 1.5rem;

  z-index: 5;
}
.legs{
  position: absolute;
  width:50px;
  height:70px;
  background-color: rgb(53, 175, 37);
  border: 3px solid black;
  bottom: -93px;
  left: 80px;
  border-top: none;
}
#leg2{
  left: 15px;
}

.bar{
  width: 100%; 
  height:1px;
  background-color: #000;
  position: relative;
  top:25%;
  
}

.snd{
  top: 50% ;
}

.th{
  top: 75%;
}

.foot{
  position: absolute;
  width:85px;
  height:30px;
  background-color: rgb(141, 95, 20);
  border: 3px solid black;
  bottom: -120px;
  left: 80px;
}
.foot-left{
  left: -20px;
}
.content-buttons{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:80%;
  height:50%;
  background-color: rgb(49, 185, 90);
  border: 3px solid black;
  border-radius: 1rem;
  display:flex;
  align-items: center;
  justify-content:center;
}
.content-buttons>button{
  width:20px;
  height:20px;
  border-radius: 50%;
  background-color: yellow;
  margin:3px;
  margin-bottom: 35px;
  cursor: pointer;
}
.content-buttons>button:nth-child(2){
  background-color: red;
  width:40px;
  height:40px;
  margin:3px;
  color:antiquewhite;
  font-size: 10px;
}

.arms{
  position: absolute;
  width:30px;
  height:140px;
  background-color: rgb(200, 96, 35);
  border: 3px solid black;
  left:-30px;
  top:-3px;
  border-radius: 1rem;
}
.arms>.bar:nth-child(1){
  top:18%;
}
.arms>.bar:nth-child(2){
  top:36%;
}
.arms>.bar:nth-child(3){
  top:54%;
}

.arms>.bar:nth-child(4){
  top:72%;
}
.hands{
  position: absolute;
  width:25px;
  height:25px;
  background-color:transparent;
  box-shadow: 0 0 0 3px black,0 0 0 27px rgb(200, 96, 35),0 0 0 30px black;
  border-radius: 50%;
  bottom:-8px;
  right: 33px;
}
.hands::before{
  position: absolute;
  content:"";
  width: 35px;
  height: 6px;
  background-color:black;
  right:22px;
  bottom: 8px;
  border-radius: 5px;
}
.hands::after{
  position: absolute;
  content:"";
  width: 35px;
  height: 6px;
  background-color:black;
  left:22px;
  bottom: 8px;
  border-radius: 5px;
}
.container-hands{
  position: relative;
  
  width:90px;
  height:47px;
  background-color:transparent;
  top:90px;
  left:-60px;
  overflow:hidden;
}
/* .container-arms{
  width:0;

  transform:rotate(90deg)
} */
.container-arm-right{
  position:relative;
  left:0px;
  transform: rotateY(180deg)
}

.mouth{
  width:80px;
  height:30px;
  background-color: yellow;
  margin: 65px auto 0;
  border: 3px solid black;
  position: relative
}
.mouth::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 25px;
  background-color: #000;
  border-radius: 5px;
  bottom:40px;
  right:7px;
}
.mouth::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 25px;
  background-color: #000;
  border-radius: 5px;
  bottom:40px;
  left:7px;
}
.mouth>.bar{
  width:1px;
  height: 100%;
  position: absolute;
  top:0px;
  left:11px;
}
.mouth>.bar:nth-child(2){

  left:24px;
}
.mouth>.bar:nth-child(3){

  left:37px;
}
.mouth>.bar:nth-child(4){

  left:49px;
}
.mouth>.bar:nth-child(5){

  left:62px;
}

.ear{
  position: absolute;
  width:15px;
  height:40px;
  background-color: yellow;
  border: 3px solid black;
  top:33%;
  left:-15px;
  /* border-right: none; */
}
.ear-right{
  left:144px;
}
.hair{
  position: absolute;
  width:70px;
  height:20px;
  background-color: yellow;
  border: 3px solid black;
  left:50%;
  top:-21px;
  transform: translate(-50%);
  border-radius: 10px 10px 0 0;
}

.container-selector-colors{
  display:flex;
  background-color:aquamarine;
  width:205px;
  height:75px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap:wrap;
  border-radius: 1rem;
  margin:2rem;
}
.container-selector-colors>button{
  width: 30px;
  height:30px;
  border-radius: 50%;
}